@import url(../../lib/font/andale-mono/andale-mono.css);
@import url(../../lib/font/josefin-sans/josefin-sans.css);
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
:root {
  --black: #191919;
  --green: #28a745;
  --grey-0: #2e2e2c;
  --grey-1: #444441;
  --grey-2: #5e5e5a;
  --grey-3: #7d7d78;
  --grey-4: #a0a09c;
  --grey-5: #c1c1be;
  --grey-6: #e1e1e0;
  --grey-7: #fafafa;
  --js-yellow: #f3df49;
  --red: #dc3545;
  --rx-pink: #E01D84;
  --rx-purple: #5D2F88; }

@keyframes glow {
  0% {
    box-shadow: 0 0 1px #f3df49; }
  100% {
    box-shadow: 0 0 10px #f3df49; } }

.pager {
  color: #7d7d78;
  font-weight: 300;
  margin-left: 0.4em; }

.row {
  display: flex; }
  .row .col {
    width: calc(50% - 1em);
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .row .col:first-child {
    width: calc(50% - 0.5em);
    margin-left: 0; }
  .row .col:last-child {
    width: calc(50% - 0.5em);
    margin-right: 0; }

.border-bad {
  border: 2px solid #dc3545; }

.border-good {
  border: 2px solid #28a745; }

.glow {
  animation: glow 1s infinite alternate-reverse; }

.fragment.replace {
  opacity: 0;
  display: none; }
  .fragment.replace.current-fragment, .fragment.replace.last-replace.visible {
    opacity: 1;
    display: initial; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #191919;
  background-color: #191919; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #191919;
  background: #f3df49;
  text-shadow: none; }

::-moz-selection {
  color: #191919;
  background: #f3df49;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #c1c1be;
  font-family: "Neutraface 2 Text", "Josefin Sans", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.4em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Andale Mono", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: "Andale Mono", monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #a0a09c;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #c1c1be;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #7a7a75; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #a0a09c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #a0a09c; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #a0a09c; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #191919; } }

.reveal a,
.reveal a:hover {
  text-shadow: -2px -2px #191919, -2px 2px #191919, 2px -2px #191919, 2px 2px #191919;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.17em #191919, inset 0 -0.2em #a0a09c; }
  .reveal a.encrypted-mail:after,
  .reveal a:hover.encrypted-mail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); }

.reveal p {
  text-align: left; }

.reveal :not(pre) > code {
  background-color: #2e2e2c; }

.reveal mark {
  background-color: #f3df49;
  color: #191919; }
  .reveal mark > * {
    color: inherit; }

.reveal .progress {
  color: #f3df49; }

.reveal .es-version {
  font-size: 1rem;
  font-family: "Andale Mono", monospace;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -.1em;
  background-color: #444441;
  color: #f3df49;
  padding: 2px 4px;
  border-radius: 999px;
  text-transform: uppercase; }

.reveal ul {
  margin-left: 0;
  line-height: 1.2; }
  .reveal ul ul {
    font-size: 0.8em; }

.reveal section img {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none; }

.reveal p {
  margin: 0;
  line-height: 1.2; }

.reveal small {
  font-size: 0.7em;
  vertical-align: initial;
  text-decoration: inherit; }

.reveal pre {
  width: 100%;
  margin: 10px auto; }
  .reveal pre code {
    box-sizing: border-box;
    height: 100%;
    max-height: initial;
    padding: 0.6em 0.8em; }

.reveal :not(pre) > code,
.reveal mark {
  font-size: 0.9em;
  text-decoration: inherit;
  vertical-align: baseline;
  border-radius: 0.1em;
  padding: 0 0.1em 0.1em; }

.reveal code {
  letter-spacing: -.05em;
  border-radius: 4px; }

.reveal .hljs.has-highlights tr:not(.highlight-line) {
  opacity: 0.1; }

.hljs-comment {
  font-style: normal !important; }
