$black: #191919;
$green: #28a745;
$grey-0: #2e2e2c;
$grey-1: #444441;
$grey-2: #5e5e5a;
$grey-3: #7d7d78;
$grey-4: #a0a09c;
$grey-5: #c1c1be;
$js-yellow: #f3df49;
$red: #dc3545;

:root {
  --black: #191919;
  --green: #28a745;
  --grey-0: #2e2e2c;
  --grey-1: #444441;
  --grey-2: #5e5e5a;
  --grey-3: #7d7d78;
  --grey-4: #a0a09c;
  --grey-5: #c1c1be;
  --js-yellow: #f3df49;
  --red: #dc3545;
}

@import url(../../lib/font/andale-mono/andale-mono.css);
@import url(../../lib/font/josefin-sans/josefin-sans.css);
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$codeFont: 'Andale Mono', monospace;
$headingFont: 'Neutraface 2 Text', 'Josefin Sans', sans-serif;
$headingFontWeight: bold;
$headingLetterSpacing: -1px;
$headingTextTransform: uppercase;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
