$colors: (
  'yellow': #f3df49,
  'black': #191919,
  'anthracite': #2e2e2c,
  'dark-grey': #444441,
  'grey': #5e5e5a,
  'light-grey': #7d7d78,
  'smoke': #cdcdcb,
);

$headingFont: 'Neutraface 2 Text', Futura, sans-serif;
$headingFontWeight: bold;
$headingLetterSpacing: -1px;
$headingTextTransform: uppercase;
