$yellow: #f3df49;
$black: #191919;
$grey-0: #2e2e2c;
$grey-1: #444441;
$grey-2: #5e5e5a;
$grey-3: #7d7d78;
$grey-4: #a0a09c;
$grey-5: #c1c1be;

$headingFont: 'Neutraface 2 Text', Futura, sans-serif;
$headingFontWeight: bold;
$headingLetterSpacing: -1px;
$headingTextTransform: uppercase;
