// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import 'shared.scss';

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: map-get($colors, 'black');
$heading1Size: 2.4em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$headingColor: map-get($colors, 'smoke');
$headingTextShadow: none;
$linkColor: map-get($colors, 'yellow');
$linkColorHover: mix(black, $linkColor, 30%);
$mainColor: #fff;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$selectionBackgroundColor: map-get($colors, 'yellow');

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  ul ul {
    font-size: 0.8em;
  }

  small {
    font-size: 0.7em;
    vertical-align: initial;
  }
}
