// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

@import 'shared';

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $black;
$heading1Size: 2.4em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$headingColor: $grey-5;
$headingTextShadow: none;
$linkColor: $grey-4;
$linkColorHover: $grey-5;
$mainColor: #fff;
$mainFontSize: 36px;
$selectionBackgroundColor: $js-yellow;
$selectionColor: $backgroundColor;

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------

.reveal {
  a,
  a:hover {
    text-shadow:
      -2px -2px $backgroundColor,
      -2px 2px $backgroundColor,
      2px -2px $backgroundColor,
      2px 2px $backgroundColor;
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.17em $backgroundColor,
      inset 0 -0.2em $linkColor;

    &.encrypted-mail:after {
      content: attr(data-name) '@' attr(data-domain) '.' attr(data-tld);
    }
  }

  p {
    text-align: left;
  }

  :not(pre) > code {
    background-color: $grey-0;
  }

  mark {
    background-color: $selectionBackgroundColor;
    color: $selectionColor;

    * {
      color: inherit !important;
    }
  }

  .progress {
    color: $js-yellow;
  }

  .es-version {
    font-size: 1rem;
    font-family: $codeFont;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.1em;
    background-color: $grey-1;
    color: $js-yellow;
    padding: 2px 4px;
    border-radius: 999px;
    text-transform: uppercase;
  }
}

@import 'overrides'
