// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import 'shared.scss';

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $black;
$heading1Size: 2.4em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$headingColor: $grey-5;
$headingTextShadow: none;
$linkColor: $grey-4;
$linkColorHover: $grey-5;
$mainColor: #fff;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$selectionBackgroundColor: $yellow;
$selectionColor: $backgroundColor;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  a,
  a:hover {
    text-shadow:
      -2px -2px $backgroundColor,
      -2px 2px $backgroundColor,
      2px -2px $backgroundColor,
      2px 2px $backgroundColor;
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.17em $backgroundColor,
      inset 0 -0.2em $linkColor;
  }

  ul ul {
    font-size: 0.8em;
  }

  small {
    font-size: 0.7em;
    vertical-align: initial;
    text-decoration: inherit;
  }

  pre {
    width: 100%;

    code {
      padding: 0.6em 0.8em;
    }
  }

  :not(pre) > code {
    letter-spacing: -.05em;
    font-size: 0.9em;
    text-decoration: inherit;
    vertical-align: baseline;
    background-color: $grey-0;
    border-radius: 0.1em;
    padding: 0 0.1em 0.1em;
  }

  mark {
    background-color: $selectionBackgroundColor;
    color: $selectionColor;

    > * {
      color: inherit;
    }
  }

  .hljs.has-highlights tr:not(.highlight-line) {
    opacity: 0.2;
  }

  .progress {
    color: $yellow;
  }

  .pager {
    color: $grey-3;
    font-weight: 300;
    margin-left: 0.4em;
  }

  .row {
    $gutter: 1em;
    display: flex;

    .col {
      width: calc(50% - #{$gutter});
      margin: {
        left: $gutter / 2;
        right: $gutter / 2;
      }
    }

    .col:first-child {
      width: calc(50% - #{$gutter / 2});
      margin-left: 0;
    }

    .col:last-child {
      width: calc(50% - #{$gutter / 2});
      margin-right: 0;
    }
  }

  .es-version {
    font-size: 1rem;
    font-family: $codeFont;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.1em;
    background-color: $grey-1;
    color: $yellow;
    padding: 2px 4px;
    border-radius: 999px;
  }

  .glow {
    animation: glow 1s infinite alternate-reverse;
  }
}

.hljs-comment {
  font-style: normal !important;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1px $yellow;
  }
  100% {
    box-shadow: 0 0 10px $yellow;
  }
}
