// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import 'shared';

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $grey-7;
$heading1Size: 4em;
$heading2Size: 2em;
$headingColor: $rx-pink;
$headingLineHeight: 1.1;
$headingTextTransform: initial;
$linkColor: $grey-5;
$linkColorHover: $grey-4;
$mainColor: $grey-0;
$selectionBackgroundColor: $rx-purple;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  h2 {
    color: $grey-3;
  }

  :not(pre) > code {
    background-color: $grey-6;
  }

  .progress {
    color: $rx-pink;
  }

  mark {
    background-color: $rx-pink;
    color: $selectionColor;

    > * {
      color: inherit;
    }
  }
}

@import 'overrides';
