// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import 'shared.scss';

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $yellow;
$heading1Size: 4em;
$heading2Size: 2em;
$headingColor: $grey-0;
$headingLineHeight: 1.1;
$headingMargin: 0;
$linkColor: $grey-1;
$linkColorHover: mix(#fff, $linkColor, 15%);
$mainColor: $grey-0;
$selectionBackgroundColor: mix(#fff, $linkColor, 25%);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  h2 {
    color: $grey-1;
  }

  &:not(.overview) section:not(.stack) {
    text-align: right;
    margin-top: 15%;
  }
}
